/* Text Field */
.text-field:hover {
    -fx-background-color: lightgray;
}

/* Password Field */
.password-field:hover {
    -fx-background-color: lightgray;
}

/* Button */
.button:hover {
    -fx-background-color: lightgray;
}
.rounded-image-view {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: transparent;
    -fx-border-width: 10px;
    -fx-border-style: solid;
    -fx-clip-path: circle();
}
/* Animation for changing color */
@keyframes colorChange {
    0% { -fx-fill: skyblue; }
    50% { -fx-fill: royalblue; }
    100% { -fx-fill: skyblue; }
}

/* Apply animation to Label nodes */
.label {
    -fx-fill: skyblue;
    -fx-animation: colorChange 2s infinite alternate;
}

/* Apply animation to Text nodes */
.text {
    -fx-fill: skyblue;
    -fx-animation: colorChange 2s infinite alternate;
}
